/*
   Tuesday, May 24, 20229:24:30 PM
   User: weg.corp.2021
   Server: mssql-19185-0.cloudclusters.net,19200
   Database: Hellmann-BacenPro2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__Complemen__0BC6C43E
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__ValorHous__0CBAE877
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__ValorInvo__0DAF0CB0
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__ValorProf__0EA330E9
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__ValorReme__0F975522
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__Remetido__108B795B
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__Documento__117F9D94
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__CNHousePr__1273C1CD
GO
ALTER TABLE dbo.House
	DROP CONSTRAINT DF__House__CN__1367E606
GO
CREATE TABLE dbo.Tmp_House
	(
	IDHousePrincipal int NOT NULL IDENTITY (0, 1),
	Complemento bit NOT NULL,
	DataHouse datetime NULL,
	IDTipoInvoice int NULL,
	IDModalidade int NULL,
	NHouse nvarchar(50) NULL,
	MHouse nvarchar(64) NULL,
	NVoucher nvarchar(50) NULL,
	IDIncoterm int NULL,
	IDOrigem int NULL,
	IDMoedaInvoice int NULL,
	ValorHouse numeric(18, 2) NULL,
	ValorInvoice numeric(18, 2) NULL,
	ValorProfitShare numeric(18, 2) NULL,
	ValorRemessa numeric(18, 2) NULL,
	IDStatus int NULL,
	Remetido bit NOT NULL,
	NumeroRemessa int NULL,
	DataRemessa datetime NULL,
	Documento int NULL,
	CNHousePrincipal int NULL,
	IDMoedaHouse int NULL,
	CN bit NOT NULL,
	IDBanco int NULL,
	IDRepresentante01 int NULL,
	IDRepresentante02 int NULL,
	IDHousePrincipalOld int NULL,
	CNHousePrincipalOld int NULL,
	ValorOutrasDespesas numeric(18, 2) NULL,
	IDImpExp int NULL,
	NInvoice nvarchar(30) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_House SET (LOCK_ESCALATION = TABLE)
GO
DECLARE @v sql_variant 
SET @v = N'0'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'16/07/2010 11:15:20'
EXECUTE sp_addextendedproperty N'DateCreated', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'03/08/2010 16:45:49'
EXECUTE sp_addextendedproperty N'LastUpdated', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'2'
EXECUTE sp_addextendedproperty N'MS_DefaultView', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_OrderByOn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_Orientation', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'House'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'23272'
EXECUTE sp_addextendedproperty N'RecordCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
SET @v = N'True'
EXECUTE sp_addextendedproperty N'Updatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', NULL, NULL
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'17'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'⌇룋誴䂚㢵쳜鼸⺃'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'IDHousePrincipal'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'IDHousePrincipal'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDHousePrincipal'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'DefaultValue', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'Compl.'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'106'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'Yes/No'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'Complemento'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'Complemento'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Complemento'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'톸ṛ䚨鯧ᯬ'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'dd/mm/yy'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_IMEMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_IMESentMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'99/99/99'
EXECUTE sp_addextendedproperty N'MS_InputMask', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'DataHouse'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'DataHouse'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataHouse'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'鶊䷡ಖ簕泆௮'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'Tipo Invoice'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'0;567;1701'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'2268twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'cTipoInvoice'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'IDTipoInvoice'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'IDTipoInvoice'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDTipoInvoice'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'퐞᧚ࣨ䃂撊䚝'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'Modalidade'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'0;567;2268'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'2835twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'cModalidade'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'IDModalidade'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'IDModalidade'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDModalidade'
GO
DECLARE @v sql_variant 
SET @v = N'True'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'噇챷䔔�朚城ꦦ'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'Nº Invoice'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'109'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_IMEMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_IMESentMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'NHouse'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'5'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'50'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'NHouse'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'10'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
SET @v = N'True'
EXECUTE sp_addextendedproperty N'UnicodeCompression', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NHouse'
GO
DECLARE @v sql_variant 
SET @v = N'True'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'㓬癏⳨䝉掀꼝쳤퓙'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'Nº Voucher'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'109'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_IMEMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_IMESentMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'NVoucher'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'6'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'50'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'NVoucher'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'10'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
SET @v = N'True'
EXECUTE sp_addextendedproperty N'UnicodeCompression', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NVoucher'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'類堤Ұ䂨澍豹뻍蟒'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'Incoterm'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'0;567;3402'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'3969twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'cIncoterm'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'IDIncoterm'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'7'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'IDIncoterm'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDIncoterm'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'��楢䝁ຎ먰赨ﾷ'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'Origem'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'0;567;3402;3969'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'7938twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'cOrigem'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'IDOrigem'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'IDOrigem'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDOrigem'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'괍퍨䁋ᖗ埃쓬'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'Moeda'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'0;567;2835'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'3402twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'cMoeda'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'IDMoedaInvoice'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'9'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'IDMoedaInvoice'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaInvoice'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'DefaultValue', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'Valor House'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'Standard'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'ValorHouse'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'10'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'ValorHouse'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
SET @v = N'5'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorHouse'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'DefaultValue', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'딑봈迚䏊욒ꢂ뷞Ꚁ'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'Valor Invoice'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'Standard'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'ValorInvoice'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'11'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'ValorInvoice'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
SET @v = N'5'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorInvoice'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'DefaultValue', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'㉏ྋḓ䆢㞣䟮괵釟'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'Profit Share'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'Standard'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'ValorProfitShare'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'12'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'ValorProfitShare'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
SET @v = N'5'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorProfitShare'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'DefaultValue', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'觻⠦쭮䝿৾摟羐'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'Valor Remessa'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'Standard'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'ValorRemessa'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'13'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'ValorRemessa'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
SET @v = N'5'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'ValorRemessa'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'Status'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'0twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'cHouseStatus'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'IDStatus'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'14'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'IDStatus'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDStatus'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'̓찓⿦乗릩쮣灶䏡'
EXECUTE sp_addextendedproperty N'GUID', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'106'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'Yes/No'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'Remetido'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'15'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'Remetido'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Remetido'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'109'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'NumeroRemessa'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'16'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'NumeroRemessa'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'NumeroRemessa'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'dd/mm/yy'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_IMEMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_IMESentMode', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'99/99/99'
EXECUTE sp_addextendedproperty N'MS_InputMask', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'DataRemessa'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'17'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'DataRemessa'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'DataRemessa'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'DefaultValue', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'1 House ; 2 Credit Note'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'109'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'Documento'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'18'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'Documento'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'Documento'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'DefaultValue', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'109'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'CNHousePrincipal'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'19'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'CNHousePrincipal'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CNHousePrincipal'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'Moeda'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'3'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'0;567;2835'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'3402twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'cMoeda'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'IDMoedaHouse'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'20'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'IDMoedaHouse'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDMoedaHouse'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'106'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'Yes/No'
EXECUTE sp_addextendedproperty N'MS_Format', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'CN'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'21'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'CN'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'CN'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'Banco'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'2'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_ColumnWidths', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'0twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'cBanco'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'IDBanco'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'22'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'IDBanco'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDBanco'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'Representante'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'0twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'cRepresentante'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'IDRepresentante01'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'23'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'IDRepresentante01'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante01'
GO
DECLARE @v sql_variant 
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AllowZeroLength', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'AppendOnly', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'Attributes', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'1033'
EXECUTE sp_addextendedproperty N'CollatingOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'ColumnHidden', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'ColumnOrder', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'-1'
EXECUTE sp_addextendedproperty N'ColumnWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'DataUpdatable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_BoundColumn', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'Representante'
EXECUTE sp_addextendedproperty N'MS_Caption', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'1'
EXECUTE sp_addextendedproperty N'MS_ColumnCount', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'MS_ColumnHeads', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'255'
EXECUTE sp_addextendedproperty N'MS_DecimalPlaces', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'111'
EXECUTE sp_addextendedproperty N'MS_DisplayControl', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'0'
EXECUTE sp_addextendedproperty N'MS_LimitToList', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'8'
EXECUTE sp_addextendedproperty N'MS_ListRows', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'0twip'
EXECUTE sp_addextendedproperty N'MS_ListWidth', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'cRepresentante'
EXECUTE sp_addextendedproperty N'MS_RowSource', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'Table/View/StoredProc'
EXECUTE sp_addextendedproperty N'MS_RowSourceType', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'IDRepresentante02'
EXECUTE sp_addextendedproperty N'Name', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'24'
EXECUTE sp_addextendedproperty N'OrdinalPosition', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'False'
EXECUTE sp_addextendedproperty N'Required', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Size', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'IDRepresentante02'
EXECUTE sp_addextendedproperty N'SourceField', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'House'
EXECUTE sp_addextendedproperty N'SourceTable', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
SET @v = N'4'
EXECUTE sp_addextendedproperty N'Type', @v, N'SCHEMA', N'dbo', N'TABLE', N'Tmp_House', N'COLUMN', N'IDRepresentante02'
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__Complemen__0BC6C43E DEFAULT ((0)) FOR Complemento
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__ValorHous__0CBAE877 DEFAULT ((0)) FOR ValorHouse
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__ValorInvo__0DAF0CB0 DEFAULT ((0)) FOR ValorInvoice
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__ValorProf__0EA330E9 DEFAULT ((0)) FOR ValorProfitShare
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__ValorReme__0F975522 DEFAULT ((0)) FOR ValorRemessa
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__Remetido__108B795B DEFAULT ((0)) FOR Remetido
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__Documento__117F9D94 DEFAULT ((0)) FOR Documento
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__CNHousePr__1273C1CD DEFAULT ((0)) FOR CNHousePrincipal
GO
ALTER TABLE dbo.Tmp_House ADD CONSTRAINT
	DF__House__CN__1367E606 DEFAULT ((0)) FOR CN
GO
SET IDENTITY_INSERT dbo.Tmp_House ON
GO
IF EXISTS(SELECT * FROM dbo.House)
	 EXEC('INSERT INTO dbo.Tmp_House (IDHousePrincipal, Complemento, DataHouse, IDTipoInvoice, IDModalidade, NHouse, NVoucher, IDIncoterm, IDOrigem, IDMoedaInvoice, ValorHouse, ValorInvoice, ValorProfitShare, ValorRemessa, IDStatus, Remetido, NumeroRemessa, DataRemessa, Documento, CNHousePrincipal, IDMoedaHouse, CN, IDBanco, IDRepresentante01, IDRepresentante02, IDHousePrincipalOld, CNHousePrincipalOld, ValorOutrasDespesas, IDImpExp, NInvoice)
		SELECT IDHousePrincipal, Complemento, DataHouse, IDTipoInvoice, IDModalidade, NHouse, NVoucher, IDIncoterm, IDOrigem, IDMoedaInvoice, ValorHouse, ValorInvoice, ValorProfitShare, ValorRemessa, IDStatus, Remetido, NumeroRemessa, DataRemessa, Documento, CNHousePrincipal, IDMoedaHouse, CN, IDBanco, IDRepresentante01, IDRepresentante02, IDHousePrincipalOld, CNHousePrincipalOld, ValorOutrasDespesas, IDImpExp, NInvoice FROM dbo.House WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_House OFF
GO
DROP TABLE dbo.House
GO
EXECUTE sp_rename N'dbo.Tmp_House', N'House', 'OBJECT' 
GO
ALTER TABLE dbo.House ADD CONSTRAINT
	aaaaaHouse_PK PRIMARY KEY NONCLUSTERED 
	(
	IDHousePrincipal
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX IDAssinante01 ON dbo.House
	(
	IDRepresentante01
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDbanco ON dbo.House
	(
	IDBanco
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDCredit ON dbo.House
	(
	Documento
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDHouse ON dbo.House
	(
	IDHousePrincipal
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDIncoterm ON dbo.House
	(
	IDIncoterm
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDModal ON dbo.House
	(
	IDModalidade
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDMoeda ON dbo.House
	(
	IDMoedaInvoice
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDMoeda1 ON dbo.House
	(
	IDMoedaHouse
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDOrigem ON dbo.House
	(
	IDOrigem
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDRepresentante01 ON dbo.House
	(
	IDRepresentante02
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDStatusHouse ON dbo.House
	(
	IDStatus
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IDTipoInvoice ON dbo.House
	(
	IDTipoInvoice
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX NVoucher ON dbo.House
	(
	NVoucher
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
COMMIT
select Has_Perms_By_Name(N'dbo.House', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.House', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.House', 'Object', 'CONTROL') as Contr_Per 